/*
 * HIGHLIGHTBOX
 */
.ce_dse_highlightbox,
.ce_dse_highlightbox h1,
.ce_dse_highlightbox a {
  color: #000000;
}

.ce_dse_highlightbox.orange {
  background-color: #FF4D00;
}

.ce_dse_highlightbox.white {
  background-color: #FFFFFF;
}

.ce_dse_highlightbox.anthracite {
  background-color: #373F43;
}

.ce_dse_highlightbox.anthracite,
.ce_dse_highlightbox.anthracite h1,
.ce_dse_highlightbox.anthracite a {
  color: #FFFFFF;
}

.ce_dse_highlightbox {
  padding: 80px 0;
}

.ce_dse_highlightbox .highlight {
  max-width: 1170px;
  display: table;
  table-layout: fixed;
  overflow: hidden;
  margin: 0 auto;
  text-align: center;
  width: 90%;
  text-transform: uppercase;
}

.ce_dse_highlightbox .text {
  max-width: 768px;
  display: table-cell;
  vertical-align: top;
  width: 70%;
  padding-right: 120px;
  text-align: left;
}

.ce_dse_highlightbox .text p {
  margin: 0;
}

.ce_dse_highlightbox .cta {
  border: 1px solid #373F43;
  display: table-cell;
}

.ce_dse_highlightbox.anthracite .cta {
  background: 0 0;
  border: 1px solid #FFF;
}

.ce_dse_highlightbox .cta a {
  display: block;
  padding: 1em 0;
  text-decoration: none;
  font-weight: bold;
  vertical-align: middle;
}

.ce_dse_highlightbox .cta:hover {
  background: #373F43;
  border: 1px solid #FFF;
}

.ce_dse_highlightbox .cta:hover a {
  color: #FFF;
}

.ce_dse_highlightbox.anthracite .cta:hover {
  background: #FFF;
  border: 1px solid #FFF;
}

.ce_dse_highlightbox.anthracite .cta:hover a {
  color: #373F43;
}

.ce_dse_highlightbox .writer {
  margin-bottom: 30px;
}

.ce_dse_highlightbox .writer .name {
  font-weight: bold;
}
